@model DigiTools.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Recuperar contraseña";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta charset="UTF-8">
    <title>Recuperación de contraseña</title>

    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="~/Content/google_fonts/font.css" rel="stylesheet" type="text/css">
    <link href="~/Content/material_icons/material_icons.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Scripts/plugins/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Scripts/plugins/animate-css/animate.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/Adminbsb/style.css" rel="stylesheet" />
    <style>
        .login-page {
            max-width: 400px;
        }

        .form-horizontal .form-group {
            margin-left: 0;
        }

        .form-horizontal h4 {
            text-align: center;
        }

        .form-horizontal .control-label{
            text-align:left;
            padding-top:0;
        }

        input[type=text], input[type=password] {
            width: 90%;
        }
    </style>
</head>
<body class="login-page">

    <div class="login-box">
        <div class="logo">
            <a style="align-content:center;"><b>Recuperación de contraseña</b></a>
            <hr />
            <small>Ingrese su correo asociado a la cuenta y la nueva contraseña para que el cambio se haga efectivo.</small>
        </div>
        <div class="card">
            <div class="body">
                <div>
                    <div>
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Reiniciar contraseña</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Code)
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.Password)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <input type="submit" class="btn btn-block bg-pink waves-effect" value="Reiniciar">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>