@using Microsoft.AspNet.Identity
@using DigiTools.Dao

@{
    DaoUsuarios daoUser = new DaoUsuarios();
    var Uss = daoUser.GetUser(User.Identity.GetUserId());
   
}

@functions
{
    public string IsActive(string action, string controller)
    {
        string clase = "";
        
        if (ViewContext.RouteData.Values["controller"].Equals(controller) 
            && ViewContext.RouteData.Values["action"].Equals(action))
        {
            clase = "active";            
        }

        return clase;
    }

    public string IsActiveController(params string[] args)
    {
        string clase = "";

        foreach (var item in args)
        {
            if (ViewContext.RouteData.Values["controller"].Equals(item))
            {
                clase = "active";
            }
        }
        

        return clase;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="~/Content/google_fonts/font.css" rel="stylesheet" type="text/css">
    <link href="~/Content/material_icons/material_icons.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Scripts/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Scripts/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Scripts/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Multi Select Css -->
    <link href="~/Scripts/plugins/multi-select/css/multi-select.css" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link href="~/Scripts/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link href="~/Scripts/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- noUISlider Css -->
    <link href="~/Scripts/plugins/nouislider/nouislider.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/Adminbsb/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/Adminbsb/themes/all-themes.min.css" rel="stylesheet" />

    <style>
        .card {
            border-radius: 10px;
        }
        /*#loader {
            position: fixed;
            margin: 50%;
            z-index: 9999;
            height: 100%;
            width: 100%;
        }*/
    </style>
    <!-- Jquery Core Js -->
    @*<script src="~/Scripts/plugins/slickgrid/lib/jquery-1.11.2.min.js"></script>*@
    <script src="~/Scripts/plugins/jquery/jquery.min.js"></script>

    @*AJAX UNOBTRUSIVE*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*AJAX FORM*@
    <script src="~/Scripts/plugins/jquery-form/jquery.form.min.js"></script>
    <!-- Jquery Validation Plugin Css -->
    <script src="~/Scripts/plugins/jquery-validation/jquery.validate.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Scripts/plugins/bootstrap/js/bootstrap.js"></script>

    <script>
        $(function () {
            $.validator.addMethod("valueNotEquals", function (value, element, arg) {
                return arg !== value;
            }, "Este campo es requerido...");

            $.extend(jQuery.validator.messages, {
                required: "Este campo es requerido...",
                remote: "Please fix this field.",
                email: "Please enter a valid email address.",
                url: "Please enter a valid URL.",
                date: "Please enter a valid date.",
                dateISO: "Please enter a valid date (ISO).",
                number: "Please enter a valid number.",
                digits: "Please enter only digits.",
                creditcard: "Please enter a valid credit card number.",
                equalTo: "Please enter the same value again.",
                accept: "Please enter a value with a valid extension.",
                maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
                minlength: jQuery.validator.format("Please enter at least {0} characters."),
                rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
                range: jQuery.validator.format("Please enter a value between {0} and {1}."),
                max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
                min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
            });
        })
    </script>

    <title>@ViewBag.Title - DIGITOOLS</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body class="theme-blue">
    <!-- Page Loader -->
    <div class="page-loader-wrapper" id="pageLoader">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle-clipper"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Cargando por favor espere...</p>
        </div>
    </div>
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="INICIA A ESCRIBIR...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                @Html.ActionLink("DIGITOOLS", "IndexMec", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (true)
                    {
                        <!-- Notifications -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="material-icons">notifications</i>
                                <span class="label-count">1</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">NOTIFICACIONES</li>
                                <li class="body">
                                    <ul class="menu">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="icon-circle bg-light-green">
                                                    <i class="material-icons">person_add</i>
                                                </div>
                                                <div class="menu-info">
                                                    <h4>Nuevos usuarios agregados</h4>
                                                    <p>
                                                        <i class="material-icons">access_time</i> Hace un momento
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-cyan">
                                                        <i class="material-icons">add_shopping_cart</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4>4 sales made</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 22 mins ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-red">
                                                        <i class="material-icons">delete_forever</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4><b>Nancy Doe</b> deleted account</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 3 hours ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-orange">
                                                        <i class="material-icons">mode_edit</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4><b>Nancy</b> changed name</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 2 hours ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-blue-grey">
                                                        <i class="material-icons">comment</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4><b>John</b> commented your post</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 4 hours ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-light-green">
                                                        <i class="material-icons">cached</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4><b>John</b> updated status</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> 3 hours ago
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="icon-circle bg-purple">
                                                        <i class="material-icons">settings</i>
                                                    </div>
                                                    <div class="menu-info">
                                                        <h4>Settings updated</h4>
                                                        <p>
                                                            <i class="material-icons">access_time</i> Yesterday
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>*@
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="javascript:void(0);">Ver todas las notificaciones</a>
                                </li>
                            </ul>
                        </li>
                        <!-- #END# Notifications -->
                        <!-- Tasks -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="material-icons">flag</i>
                                <span class="label-count">1</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">TAREAS</li>
                                <li class="body">
                                    <ul class="menu tasks">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <h4>
                                                    Publicación de formato
                                                    <small>32%</small>
                                                </h4>
                                                <div class="progress">
                                                    <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="javascript:void(0);">
                                                    <h4>
                                                        Make new buttons
                                                        <small>45%</small>
                                                    </h4>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <h4>
                                                        Create new dashboard
                                                        <small>54%</small>
                                                    </h4>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <h4>
                                                        Solve transition issue
                                                        <small>65%</small>
                                                    </h4>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <h4>
                                                        Answer GitHub questions
                                                        <small>92%</small>
                                                    </h4>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>*@
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="javascript:void(0);">Ver todas las tareas</a>
                                </li>
                            </ul>
                        </li>
                        <!-- #END# Tasks -->
                    }
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->

                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
                @Html.Partial("_LoginPartial", (Uss.Nombres == null ? "No registrado" : @Uss.Nombres))
            </div>
        </div>
    </nav>
    @if (Request.IsAuthenticated)
    {
        //ADMINISTRADOR
        if (Uss.IdRol.Equals("d190e724-261a-49bb-8bbf-b24119c49a44")
             || Uss.IdRol.Equals("2b0bf2ba-c2a3-4f19-84d7-9288c0bc2895"))
        {
            <section>
                <!-- Left Sidebar -->
                <aside id="leftsidebar" class="sidebar">
                    <!-- User Info -->
                    <div class="user-info">
                        <div class="image">
                            <img src="@Url.Content("~/Content/Images/user.png")" width="48" height="48" alt="Usuario" />
                        </div>
                        <div class="info-container">
                            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Uss.Nombres @Uss.Apellidos</div>
                            <div class="email">@DateTime.Now.ToLongDateString()</div>
                            <div class="btn-group user-helper-dropdown">
                                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Editar mi usuario</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:void(0);"><i class="material-icons">input</i>Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Menu -->
                    <div class="menu">
                        <ul class="list">
                            <li class="header">MENÚ PRINCIPAL (ADMINISTRADOR)</li>
                            <li class="@IsActiveController("Users","TiemposCarga","Kpis")">
                                <a href="#" class="menu-toggle">
                                    <i class="material-icons">assignment</i>
                                    <span>ADMINISTRACIÓN</span>
                                </a>
                                <ul class="ml-menu">
                                    <li class="@IsActive("Index","Users")">
                                        <a href="#" class="menu-toggle">
                                            <span>USUARIOS</span>
                                        </a>
                                        <ul class="ml-menu">
                                            <li class="@IsActive("Index","Users")">
                                                @Html.ActionLink("APROBACIÓN DE REGISTRO", "Index", "Users")
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="@IsActive("Index","TiemposCarga")">
                                        <span>@Html.ActionLink("TIEMPOS DE CARGA", "Index", "TiemposCarga")</span>
                                    </li>
                                    <li class="@IsActive("Index","Kpis")">
                                        <span>@Html.ActionLink("KPI'S", "Index", "Kpis")</span>
                                    </li>

                                </ul>
                            </li>
                            <li class="@IsActiveController("Ewos","")">
                                <a href="@Url.Action("Index", "Ewos")">
                                    <i class="material-icons">settings_applications</i>
                                    <span>CONTROL DE AVERÍAS</span>
                                </a>
                            </li>
                            <li class="@IsActiveController("MachineLedger","")">
                                <a href="@Url.Action("Index", "MachineLedger")">
                                    <i class="material-icons">line_style</i>
                                    <span>MACHINE LEDGER</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </section>
        }

        //MECÁNICO
        if (Uss.IdRol.Equals("65b01f2a-0b46-4d0c-a227-304dc22e2f9d"))
        {
            <section>
                <!-- Left Sidebar -->
                <aside id="leftsidebar" class="sidebar">
                    <!-- User Info -->
                    <div class="user-info">
                        <div class="image">
                            <img src="@Url.Content("~/Content/Images/user.png")" width="48" height="48" alt="Usuario" />
                        </div>
                        <div class="info-container">
                            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Uss.Nombres @Uss.Apellidos</div>
                            <div class="email">@DateTime.Now.ToLongDateString()</div>
                            <div class="btn-group user-helper-dropdown">
                                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Editar mi usuario</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:void(0);"><i class="material-icons">input</i>Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Menu -->
                    <div class="menu">
                        <ul class="list">
                            <li class="header">MENÚ PRINCIPAL (MECÁNICO)</li>
                            <li class="@IsActiveController("Ewos","")">
                                <a href="@Url.Action("Index", "Ewos")">
                                    <i class="material-icons">settings_applications</i>
                                    <span>CONTROL DE AVERÍAS</span>
                                </a>
                            </li>
                            <li class="@IsActiveController("MachineLedger","")">
                                <a href="@Url.Action("Index", "MachineLedger")">
                                    <i class="material-icons">line_style</i>
                                    <span>MACHINE LEDGER</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </section>
        }
    }

    <section class="content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - (Jeison Perlaza)</p>
            <div class="version">
                <b>Version: </b> 1.0.0
            </div>
        </footer>
    </section>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)



    <!-- Slimscroll Plugin Js -->
    <script src="~/Scripts/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Colorpicker Js -->
    <script src="~/Scripts/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="~/Scripts/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="~/Scripts/plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="~/Scripts/plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/Scripts/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- noUISlider Plugin Js -->
    <script src="~/Scripts/plugins/nouislider/nouislider.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Scripts/plugins/node-waves/waves.js"></script>

    <!-- SweetAlert Plugin Js -->
    @*<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>*@

    <!-- Custom Js -->
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    @*<script src="~/Scripts/js/form/advanced-form-elements.js"></script>*@

    <!-- Custom Js -->
    <script src="~/Scripts/js/admin.js"></script>
    @*<script src="~/Scripts/js/form/advanced-form-elements.js"></script>*@

    <!-- Demo Js -->
    <script src="~/Scripts/js/demo.js"></script>

</body>
</html>
